@import url("dark-md.css");
@import url("light-md.css");
.dark {
    --md-sys-color-primary: rgb(205 189 255);
    --md-sys-color-surface-tint: rgb(205 189 255);
    --md-sys-color-on-primary: rgb(52 39 94);
    --md-sys-color-primary-container: rgb(75 62 118);
    --md-sys-color-on-primary-container: rgb(232 222 255);
    --md-sys-color-secondary: rgb(203 195 220);
    --md-sys-color-on-secondary: rgb(50 46 65);
    --md-sys-color-secondary-container: rgb(73 68 88);
    --md-sys-color-on-secondary-container: rgb(231 222 248);
    --md-sys-color-tertiary: rgb(238 184 202);
    --md-sys-color-on-tertiary: rgb(73 37 51);
    --md-sys-color-tertiary-container: rgb(99 59 74);
    --md-sys-color-on-tertiary-container: rgb(255 217 228);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(20 19 24);
    --md-sys-color-on-background: rgb(230 225 233);
    --md-sys-color-surface: rgb(20 19 24);
    --md-sys-color-on-surface: rgb(230 225 233);
    --md-sys-color-surface-variant: rgb(72 69 78);
    --md-sys-color-on-surface-variant: rgb(202 196 207);
    --md-sys-color-outline: rgb(147 143 153);
    --md-sys-color-outline-variant: rgb(72 69 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(230 225 233);
    --md-sys-color-inverse-on-surface: rgb(49 47 53);
    --md-sys-color-inverse-primary: rgb(99 86 143);
    --md-sys-color-primary-fixed: rgb(232 222 255);
    --md-sys-color-on-primary-fixed: rgb(31 16 72);
    --md-sys-color-primary-fixed-dim: rgb(205 189 255);
    --md-sys-color-on-primary-fixed-variant: rgb(75 62 118);
    --md-sys-color-secondary-fixed: rgb(231 222 248);
    --md-sys-color-on-secondary-fixed: rgb(29 25 43);
    --md-sys-color-secondary-fixed-dim: rgb(203 195 220);
    --md-sys-color-on-secondary-fixed-variant: rgb(73 68 88);
    --md-sys-color-tertiary-fixed: rgb(255 217 228);
    --md-sys-color-on-tertiary-fixed: rgb(49 17 30);
    --md-sys-color-tertiary-fixed-dim: rgb(238 184 202);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 74);
    --md-sys-color-surface-dim: rgb(20 19 24);
    --md-sys-color-surface-bright: rgb(58 56 62);
    --md-sys-color-surface-container-lowest: rgb(15 13 19);
    --md-sys-color-surface-container-low: rgb(28 27 32);
    --md-sys-color-surface-container: rgb(32 31 36);
    --md-sys-color-surface-container-high: rgb(43 41 47);
    --md-sys-color-surface-container-highest: rgb(54 52 58);
    --md-extended-color-custom-color-color: rgb(128 213 209);
    --md-extended-color-custom-color-on-color: rgb(0 55 54);
    --md-extended-color-custom-color-color-container: rgb(0 80 78);
    --md-extended-color-custom-color-on-color-container: rgb(156 241 237);
  }


/* global style */
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.animation {
    transition: 500ms;
}

.shell {
    /* set shell to be fixed relative to the browser window */
    position: fixed;
    /* set size */
    top: 0%;
    left: 0%;
    width: 16%;
    height: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    transition: 500ms;
    overflow: hidden;
    justify-content: space-around;
}
.shell:hover {
    width: 32%;
}

.avatar {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    border-style: solid;
    border-width: 0.8vw;
    border-color: var(--md-sys-color-inverse-primary);
}

.wrap {
    width: 100%;
    height: 100%;
}

.icon {
    /* min-width: 60px; */
    border-radius: 1.5%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-self: center;
    /* font: 300 23px ''; */
}
.svg {
    fill: none;
    stroke: var(--md-sys-color-on-secondary-container);
}

.shell li {
    height: 2rem;
    /* set no default decoration */
    list-style: none;
    /* set flexbox */
    display: flex;
    margin-top: 3%;
}
